{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gentlemen's Barber Shop - HTML CSS Template</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'css/templatemo-barber-shop.css' %}" rel="stylesheet">

        <!--
        TemplateMo 585 Barber Shop
        https://templatemo.com/tm-585-barber-shop
        -->
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block sidebar collapse p-0">
                    <div class="position-sticky sidebar-sticky d-flex flex-column justify-content-center align-items-center">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static 'images/templatemo-barber-logo.png' %}" class="logo-image img-fluid" alt="">
                        </a>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Our Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">Price List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                
                <div class="col-md-8 ms-sm-auto col-lg-9 p-0">
                    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-12">
                                    <h1 class="text-white mb-lg-3 mb-4"><strong>Barber <em>Shop</em></strong></h1>
                                    <p class="text-black">Get the most professional haircut for you</p>
                                    <br>
                                    <a class="btn custom-btn custom-border-btn custom-btn-bg-white smoothscroll me-2 mb-2" href="#section_2">About Us</a>
                                    <a class="btn custom-btn smoothscroll mb-2" href="#section_3">What we do</a>
                                </div>
                            </div>
                        </div>

                        <div class="custom-block d-lg-flex flex-column justify-content-center align-items-center">
                            <img src="{% static 'images/vintage-chair-barbershop.jpg' %}" class="custom-block-image img-fluid" alt="">
                            <h4><strong class="text-white">Hurry Up! Get good haircut.</strong></h4>
                            <a href="#booking-section" class="smoothscroll btn custom-btn custom-btn-italic mt-3">Book a seat</a>
                        </div>
                    </section>

                    <section class="about-section section-padding" id="section_2">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-12 mx-auto">
                                    <h2 class="mb-4">Best hairdressers</h2>
                                    <div class="border-bottom pb-3 mb-5">
                                        <p>Gentlemen's Barber Shop is new Bootstrap v5 HTML CSS template by <a href="https://templatemo.com/page/1" target="_blank">TemplateMo</a> for everyone. There is a sidebar menu to navigate the one-page layout. You can feel free to adapt this template for your business.</p>
                                    </div>
                                </div>
                                <h6 class="mb-5">Meet Babers</h6>

                                <div class="col-lg-5 col-12 custom-block-bg-overlay-wrap me-lg-5 mb-5 mb-lg-0">
                                    <img src="{% static 'images/barber/portrait-male-hairdresser-with-scissors.jpg' %}" class="custom-block-bg-overlay-image img-fluid" alt="">
                                    <div class="team-info d-flex align-items-center flex-wrap">
                                        <p class="mb-0">Redo</p>
                                        <ul class="social-icon ms-auto">
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                            </li>
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-instagram"></a>
                                            </li>
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-12 custom-block-bg-overlay-wrap mt-4 mt-lg-0 mb-5 mb-lg-0">
                                    <img src="{% static 'images/barber/portrait-mid-adult-bearded-male-barber-with-folded-arms.jpg' %}" class="custom-block-bg-overlay-image img-fluid" alt="">
                                    <div class="team-info d-flex align-items-center flex-wrap">
                                        <p class="mb-0">Sam</p>
                                        <ul class="social-icon ms-auto">
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                            </li>
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-instagram"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="featured-section section-padding">
                        <div class="section-overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-12 mx-auto">
                                    <h2 class="mb-3">Get 32% Discount</h2>
                                    <p>on every second week of the month</p>
                                    <strong>Promo Code: BarBerMo</strong>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="services-section section-padding" id="section_3">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <h2 class="mb-5">Services</h2>
                                </div>

                                <div class="col-lg-6 col-12 mb-4">
                                    <div class="services-thumb">
                                        <img src="{% static 'images/services/woman-cutting-hair-man-salon.jpg' %}" class="services-image img-fluid" alt="">
                                        <div class="services-info d-flex align-items-end">
                                            <h4 class="mb-0">Hair cut</h4>
                                            <strong class="services-thumb-price">$36.00</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 mb-4">
                                    <div class="services-thumb">
                                        <img src="{% static 'images/services/hairdresser-grooming-their-client.jpg' %}" class="services-image img-fluid" alt="">
                                        <div class="services-info d-flex align-items-end">
                                            <h4 class="mb-0">Washing</h4>
                                            <strong class="services-thumb-price">$25.00</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                    <div class="services-thumb">
                                        <img src="{% static 'images/services/hairdresser-grooming-client.jpg' %}" class="services-image img-fluid" alt="">
                                        <div class="services-info d-flex align-items-end">
                                            <h4 class="mb-0">Shaves</h4>
                                            <strong class="services-thumb-price">$30.00</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="services-thumb">
                                        <img src="{% static 'images/services/boy-getting-haircut-salon.jpg' %}" class="services-image img-fluid" alt="">
                                        <div class="services-info d-flex align-items-end">
                                            <h4 class="mb-0">Beard Trim</h4>
                                            <strong class="services-thumb-price">$20.00</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="price-list-section section-padding" id="section_4">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-12 mx-auto">
                                    <h2 class="text-center mb-4">Price List</h2>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Hair Cut</th>
                                                    <th scope="col">Style</th>
                                                    <th scope="col">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Trim</td>
                                                    <td>Simple</td>
                                                    <td>$36</td>
                                                </tr>
                                                <tr>
                                                    <td>Trim</td>
                                                    <td>Medium</td>
                                                    <td>$39</td>
                                                </tr>
                                                <tr>
                                                    <td>Trim</td>
                                                    <td>Stylish</td>
                                                    <td>$49</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="contact-section section-padding" id="section_5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-12 mx-auto">
                                    <h2 class="text-center mb-4">Contact Us</h2>
                                    <form action="#" method="post" class="custom-form contact-form" role="form">
                                        <div class="row">
                                            <div class="col-lg-6 col-12">
                                                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
                                            </div>

                                            <div class="col-lg-6 col-12">
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                                            </div>

                                            <div class="col-12">
                                                <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                            </div>

                                            <div class="col-lg-3 col-md-4 ms-auto">
                                                <button type="submit" class="form-control">Send</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                    <footer class="site-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-12 d-flex flex-wrap">
                                    <p class="mb-0">
                                        <a href="#">Privacy Policy</a>
                                    </p>
                                    <p class="ms-auto mb-0">
                                        Copyright © 2023 Gentlemen's Barber Shop
                                    </p>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
